body {
    background: #F8F8F8;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.form-card {
    max-width: 500px;
    margin: 40px auto;
    background: #fff;
    padding: 25px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: left;
}
h4 {
      margin-bottom: 20px;
}
label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
.submit-btn {
    background: #D4AF37;
    border: none;
    color: black;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}
.submit-btn:hover {
    background: #b7950b;
    color: white;
}
.cancel-btn {
    background: #0d0d0d;
    border: none;
    color: #D4AF37;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
    text-decoration: none;
}
.cancel-btn:hover {
    background: #2f2e2e;
    color: white;
}

.admin-container {
    margin-top: 8rem;
    padding: 2rem 6rem;
}

.admin-container h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.add-btn {
    background-color: #D4AF37;
    border: none;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #b9972b;
}

.total-box {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 25px;
    text-align: center;
    font-weight: 500;
    background: #000c66;
    color: #F8F8F8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background-color: #D4AF37;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-btn {
    padding: 4px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.edit-btn {
    background-color: #28a745;
}

.edit-btn:hover {
    background-color: #00ff37;
}

.delete-btn {
    background-color: hsl(354, 70%, 54%);
}

.delete-btn:hover {
    background-color: hsl(354, 100%, 50%);
}