footer {
    background-color: #111;
    color: white;
    padding: 30px 0;
    margin-top: -20px;
    text-align: center;
}

.footer-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-desc {
    color: #cccccc;
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    margin: 0 15px;
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ffffff;
}

.footer-copy {
    font-size: 12px;
    color: #777;
}

#logo{
    height: 90px;
   margin-bottom: -20px;

}