.card {
    flex: 0 1 280px;
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 20px;
    border-color: transparent;
     transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

#cardImage {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#container{
    padding-top: 20px;
    justify-content: center;
    background-color: #faefe2;
    padding-bottom: 60px;
}

#heading{
    width: 100vw;
    height: 120px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 30px;
    
}
h1{
    margin: auto;
    position: relative;
    
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #ffaf7b, #d76d77, #3a1c71);
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #333;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #333;

}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1cfa6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    border: none;
}

.btn:hover{
    background-color: #f1aa55;
}