#see more pages styling

.card {
    width: calc(25% - 15px);
    height: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
}

.card a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #D4AF37; 
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto; 
}
.card a:hover {
    background-color: #C0A045;
}

#cardImage {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    object-fit: cover; 
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

#cardImage:hover {
    transform: scale(1.05);
}

#container{
    padding-top: 20px;
    justify-content: center;
    background-color: #faefe2;
    padding-bottom: 60px;
    gap: 30px;
    text-align: center;
}

#heading{
    width: 100vw;
    height: 120px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 30px;
    
}
h1{
    margin: auto;
    position: relative;
    
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(90deg, #ffb381, #d76d78, #3a1c71);
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #333;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    color: #333;

}

.btn{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1cfa6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    border: none;
}

.btn:hover{
    background-color: #f1aa55;
}