*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
}

.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.user-auth{
    margin-left: 40px;
}

.user-auth .Login-btn-model{
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.user-auth .Login-btn-model:hover{
    background: #fff;
    color: #222;
}