*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato';
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    background-color: #222;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.4s ease;
}

header.scrolled {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}


.logo{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.user-auth{
    margin-left: 40px;
}

.user-auth .Login-btn-model{
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.user-auth .Login-btn-model:hover{
    background: #fff;
    color: #222;
}

.section {
    width: 100%;                   
    height: 600px;                    
    background-image: url('../images/Blue White Simple Modern Travel Vlog YouTube Thumbnail.png');  
    background-size: cover;           
    background-repeat: no-repeat;     
    background-position: center;
    margin-top: 80px;
    position: relative;
}

@media (max-width: 768px) {
    .hero-section {
      height: 250px;
    }
}

.text_sec {
  position: absolute;
  top: 50%;                 
  left: 8%;                
  transform: translateY(-50%); 
  color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 0 3px 8px rgba(0,0,0,0.6);
}

.text_sec h1{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn 2s ease-out forwards;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Make it responsive */
@media (max-width: 768px) {
  .hero-text {
    font-size: 2rem;
    left: 5%;
  }
}


.brands {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  background-color: #fff; 
  padding: 20px 0;
  overflow-x: auto;
  white-space: nowrap; 
}

.brands img {
  height: 40px;
  width: auto;
  margin: 0 15px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.brands img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

.brands-section img {
  height: 30px;
}

.main_content{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    line-height: 1.2;
}


